*{
    font-family: monospace;
    font-size: 1rem;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

body{
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#000000 0.5px, #ffffff 0.5px);
    background-size: 10px 10px;
    background-attachment: fixed;
}